body
{
  max-width: 1200px;
  margin: 15px auto;
  padding: 15px;
}

img
{
  object-fit: cover;
}

main
{
  padding: 20px;
}

section
{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav
{
  margin: 20px auto;
}

footer
{
  margin: 0 auto;
  text-align: center;
}

footer img
{
  margin-top: 20px;
  width: 50px;
}

video
{
  width: 100%;
  margin-top: 20px;
}

.card
{
    margin: 0 auto;
}

.story
{
  margin-top: 20px;
}

#favorite_toys div
{
  text-align: center;
}

#favorite_toys img
{
  padding: 15px;
  width: 300px;
  height: 300px;
}

.popover-body img
{
  width: 200px;
}

@media screen and (min-width: 720px)
{
  header
  {
    height:400px;
    background-image: url("../imgs/20141125.jpg");
    background: #ECC8AE
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .card
  {
    display: none;
    /* position: relative;
    left: -300px; */
  }

  .story
  {
    display: inline-block;
  }

  .timeline .story img
  {
    width: 286px;
    height: 286px;
    object-fit: cover;
  }

  #secondPagePhotos
  {
    max-width: 850px;
    margin: 20px auto;
  }
  #secondPageVideos
  {
    max-width: 850px;
    margin: 20px auto;
  }
}
