body
{
  max-width: 1200px;
  margin: 15px auto;
  padding: 15px;
}

img
{
  object-fit: cover;
}

main
{
  padding: 20px;
}

.card
{
    margin: 0 auto;
}

section
{
  margin: 0 auto;
}

nav
{
  margin: 20px auto;
}

footer
{
  margin: 0 auto;
  text-align: center;
}

footer img
{
  margin-top: 20px;
  width: 50px;
}

video
{
  width: 419px;
  height: 314px;
  margin-top: 20px;
}

#favorite_toys div
{
  text-align: center;
}

#favorite_toys img
{
  padding: 15px;
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 720px)
{

}
